<div class="feature">
	<h2><%= feature.name %> (<%= link_to 'edit', edit_feature_path(feature) %>)</h2>
	<pre class="feature-info"><%= feature.info %></pre>
	<pre class="feature-snippet prettyprint linenums"><%= feature.snippet %></pre>
	<p><%= link_to feature.url, feature.url %></p>
</div>
