<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Codesaurus</title>
	<%= stylesheet_link_tag 'style', 'prettify' %>
	<%= javascript_include_tag 'modernizer-1.5' %>
	<%= csrf_meta_tag %>
</head>
<body>

	<header id="header">
		<h1><%= link_to 'Codesaurus', :root %> <span>alpha</span></h1>
		<%= form_tag :search, :method => :get do %>
			<%= text_field_tag :q, params[:q], :placeholder => 'Enter part of feature name' %>
			<%= submit_tag 'Search', :name => nil %>
		<% end %>
		<nav id="nav"><ul>
			<li><%= link_to 'Create language feature (to become find/create)', new_feature_path %></li>
		</ul></nav>
	</header>

	<section id="main" role="main">
	<%= yield %>
	</section>

	<footer id="footer">
		<p>Check out public git repository: <a href="http://github.com/tjko/codesaurus">http://github.com/tjko/codesaurus</a>.</p>
	</footer>

	<%= javascript_include_tag 'jquery-1.4.2', 'rails', 'prettify', 'application' %>
</body>
</html>
